html {
    --neo-color-main: #3b352f;
    --neo-color-secondary: #322e2d;
    --neo-color-tertiary: #443e3a;
    --neo-color-background: #181717;
    --neo-color-attention: #581a1a;

    --neo-text: #d55a0c;
    --neo-text-hover: #ef640c;

    --neo-text-link: #805408;

    --neo-text-type: #0e0501;
    --neo-text-command: #f5680f;
    --neo-text-parameter: #c27018;
    --neo-text-example: #d4793d;
}