/* -------------------------------------------------------------- */
/* ------------------------------| Main */
/* -------------------------------------------------------------- */

body {
  background-color: var(--neo-color-background);
  color: var(--neo-text);
  font-family: sans-serif;
}

.outer {

}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  z-index: 420;

  background-image: linear-gradient(to right, var(--neo-color-secondary), var(--neo-color-tertiary));
  box-shadow: 0 0 5px var(--neo-color-main);
  opacity: 0.8;

  transition: all 0.3s;
}
.sidebar:hover {
  box-shadow: 0 0 100px var(--neo-color-main);
  opacity: 1;
}

.button {
  width: 42px;
  height: 42px;
  border-radius: 10px;

  box-shadow: inset 0 0 5px var(--neo-color-background);
  background-image: radial-gradient(24px, var(--neo-color-attention), var(--neo-color-main));
  color: var(--neo-text);
  opacity: 0.8;

  text-align: center;
  line-height: 42px;
  font-size: 20px;
  font-weight: bold;

  cursor: pointer;

  transform: scale(1);

  transition: all 0.3s;
}
.button:hover {
  box-shadow: 0 0 5px var(--neo-color-attention);
  background-image: radial-gradient(32px, var(--neo-color-main), var(--neo-color-attention));
  opacity: 1;

  transform: scale(1.1);
}

.sidebarToggle {
  display: none;

  position: absolute;
  left: calc(100% + 5px);
  top: 5px;
  z-index: 420;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex .sidebarButton {
  width: 120px;
  background-image: linear-gradient(to right, var(--neo-color-main), var(--neo-color-attention));
}
.flex .sidebarButton:hover {
  box-shadow: 0 0 5px var(--neo-color-attention);
  background-image: linear-gradient(to right, var(--neo-color-attention), var(--neo-color-main));
}

.content {
  margin-left: 420px;
  width: calc(100vw - 540px);

  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .sidebar {
    left: calc(-100vw + 82px);
    width: calc(100vw - 82px);
    opacity: 1;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebarToggle {
    display: block;
  }

  .sidebar.open .sidebarToggle {
    transform: rotate(180deg);
  }
  .sidebar.open .sidebarToggle:hover {
    transform: scale(1.1) rotate(180deg);
  }

  .content {
    margin-left: 20px;
    width: calc(100vw - 60px);
  }
}

/* -------------------------------------------------------------- */
/* ------------------------------| To Top */
/* -------------------------------------------------------------- */

.toTop {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 420;

  text-decoration: none;
}

/* -------------------------------------------------------------- */
/* ------------------------------| Sidebar */
/* -------------------------------------------------------------- */

a {
  color: var(--neo-text-link);
}
a:hover {
  color: var(--neo-text-hover);
}

a.toCommand {
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-sizing: content-box;

  background-image: linear-gradient(to right, var(--neo-color-tertiary), var(--neo-color-secondary));
  box-shadow: inset 0 0 10px var(--neo-color-background);
  opacity: 0.8;

  transform: scale(1);

  transition: all 0.3s;
}

a.toCommand:hover {
  background-color: var(--neo-color-main);
  box-shadow: 0 0 10px var(--neo-color-background);
  opacity: 1;

  transform: scale(1.01) rotate(-1deg);
}

/* -------------------------------------------------------------- */
/* ------------------------------| Command */
/* -------------------------------------------------------------- */

.commandContainer {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: hidden;

  background-color: var(--neo-color-main);
  box-shadow: 0 0 5px var(--neo-color-main);
  opacity: 0.8;

  transform: scale(1);

  transition: all 0.3s;
}

.commandContainer:hover {
  box-shadow: 0 0 100px var(--neo-color-main);
  opacity: 1;

  transform: scale(1.01);
}

.toggleCommand {
  position: absolute;
  right: 10px;
  top: 13px;
  z-index: 100;
  width: 69px;
  height: 30px;

  line-height: 30px;
  font-size: 16px;
}
.closed .toggleCommand {
  background-image: radial-gradient(50px, var(--neo-color-attention), var(--neo-color-main));
}

/* -------------------------------------------------------------- */
/* ------------------------------| Header */
/* -------------------------------------------------------------- */

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 20px 50px;
  margin-bottom: 0;
  font-weight: bold;
}

.type {
  color: var(--neo-text-type);
}

.name {
  color: var(--neo-text-command);
}

.parameter {
  color: var(--neo-text-parameter);
  font-style: italic;
}

/* -------------------------------------------------------------- */
/* ------------------------------| Parameters */
/* -------------------------------------------------------------- */

.parameterContainer {
  padding: 10px 50px 20px;
  background-color: var(--neo-color-secondary);

  transition: all 0.3s;
}
.closed .parameterContainer {
  display: none;
}

.parameterField {
  margin-top: 10px;
  font-style: italic;
  font-weight: bold;
}
.parameterDescription {
  margin-left: 100px;
  font-style: italic;
}

/* -------------------------------------------------------------- */
/* ------------------------------| Description */
/* -------------------------------------------------------------- */

.commandDescription {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 50px;
  background-color: var(--neo-color-main);

  transition: all 0.3s;
}
.closed .commandDescription {
  display: none;
}
.commandDescription table {
  margin-top: 0.5em;
}
.commandDescription table th {
  min-width: 25%;
  text-align: left;
}

/* -------------------------------------------------------------- */
/* ------------------------------| Header */
/* -------------------------------------------------------------- */

.exampleTitle {
  margin: 0;
  padding: 10px 50px;
  font-weight: bold;
  background-color: var(--neo-color-tertiary);
}
.closed .exampleTitle {
  display: none;
}

.exampleContainer {
  font-family: monospace;
  padding: 20px 100px;
  background-color: var(--neo-color-tertiary);
  color: var(--neo-text-example);

  transition: all 0.3s;
}
.closed .exampleContainer {
  display: none;
}
